.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
}

.header button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.header button:hover {
    background-color: #0056b3;
}

.header span {
    font-weight: bold;
}

.day-names, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

.days{
    background-color: #acaaaa;
}

.day-name {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.empty-day, .day {
    position: relative; 
    border: 1px solid #ddd;
    height: 150px;
    width: 150px;
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #acaaaa;
    cursor: pointer;
    color: rgb(139, 141, 140);
    font-size: 20px;
    font-weight: 500;
}

.day{
    background-color: white;
}

.day:hover {
    background-color: #eef;
}

.day.today {
    background-color: #dcdbdb;
    border-color: #c3e6cb;
}

.day.selected {
    background-color: #cce5ff;
    border-color: #b8daff;
}

.today-present{
    background-color: green;
}

.day::before {
    content: attr(data-day);
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.8em;
    color: #666;
    font-weight: bold;
}

@media (max-width: 1056px) {
  .empty-day, .day {
    height: 100px; 
    width: 100px; 
    font-size: 16px; 
  }
}

@media (max-width: 700px) { 
  .empty-day, .day {
    height: 80px;
    width: 80px;
    font-size: 14px;
  }
}

@media (max-width: 576px) { 
  .empty-day, .day {
    height: 50px; 
    width: 50px;
    font-size: 14px;
  }
}
