/* Modal styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px); /* Blurring effect */
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #AB1CAF;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    text-align: center;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 0px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  