.date-filter-show{
    list-style-type: none;
    width: 180px;
    padding: 10px;
    margin: 0px;
}

.each-option{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.each-option:hover{
  color: white;
  background-color: #AB1CAF;
  border-radius: 5px;
}

.custom-date-container{
    display: flex;
}

.custom-date-picker{
  width: 380px;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background-color: #79d225 !important;
  color: white !important;
  border-radius: 5px;
}

/* Style the in-range dates */
.react-calendar__tile--range {
  background-color: #AB1CAF !important;
  color: white !important;
}

.react-calendar__tile--now {
  background-color: #AB1CAF !important;
  color: white !important;
  border-radius: 50%;
}

.react-calendar__tile--now:hover {
  background-color: #DB1CAF !important;
  color: white !important;
}

.react-calendar__tile--active {
  background-color: #AB1CAF !important;
  color: white !important;
  border-radius: 5px;
}

.react-calendar__tile--active:hover {
  background-color: #DB1CAF !important;
  color: white !important;
}

.react-calendar__tile--hover {
  background-color: #AB1CAF !important;
  color: white !important;
}

.react-calendar__tile--selecting-rangeStart,
.react-calendar__tile--selecting-rangeEnd {
  background-color: #AB1CAF !important;
  color: white !important;
}

.react-calendar__tile--rangeStart:hover,
.react-calendar__tile--rangeEnd:hover {
  background-color: #8B1CAF !important;
  color: white !important;
}




