.dashboard-layout {
  width: 100%;
}

.dashboard-body {
  position: relative;
  display: flex;
  font-family: Arial, sans-serif;
  border-top: 1px solid #ddd;
}

.dashboard-sidebar {
  position: relative;
}

.dashboard-main-content {
  flex-grow: 1;
  border-left: 1px solid #ddd;
  min-width: 480px;
}

@media (max-width: 400px) {
    .dashboard-body {
        border-top: 1px solid #ddd;
        min-width: 480px;
    }
    .dashboard-main-content{
        min-width:480px;
    }
}

@media (max-width: 768px) {
  .mobile-view {
    display: flex;
  }

  .side-bar-component {
    position: absolute;
    top: 60px;
    left: 0px;
  }
}

.user-welcome-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.user-welcome-info-container h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700px;
  color: #AB1CAF;
}

.user-welcome-info-container p {
  margin-top: 5px;
  font-size: 14px;
  color:#64748B;
}


/* Profile Header */

.profile-header-container{
    display: flex;
}

.c-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 0px;
}

.profile-logo-container{
    width: max-content;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-left: 1px solid #ddd;
}

.menu-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    font-weight: 400;
}

.profile-img{
    cursor: pointer;
}

.menu-icon-container svg:first-of-type{
    display: none;
}

/* Media query for mobile view */
  @media (max-width: 768px) {
    .menu-icon-container svg:first-of-type{
        display: flex;
    }
  }

  @media (max-width: 414px) {
    
    .c-logo-container{
        display: none;
    }
    .profile-logo-container{
        min-width: 480px;
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        border-left: 1px solid #ddd;
    }
  }


/* LeadSummary */

.lead-stats-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 20px;
    flex-wrap: wrap;
}

.lead-stats {
    width: 208px;
    height: 137px;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 22px;
}

.lead-stats h3 {
    color: #495057;
    font-size: 22px;
    font-weight: 500;
}

.lead-stats p {
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-weight: 600;
}

.btn-group{
    display: flex;
    margin: 20px;
}
  
.leadsBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E2F3FF;
    border-radius: 10px;
    border: 1px solid #18508C;
    padding: 10px;
    gap: 8px;
}
  
.todayTotalLeadCount{
    margin-right: 20px;
    color: #18508C;
    font-weight: 600;
    font-size: 16px;
}
  
.todayTotalLeadCount span{
    background-color: #18508C;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    font-size: 18px;
    color:white;
}

.yesterdayLeadCount{
    border: 1px solid #E2E8F0;
    background-color: white;
    color: #18508C;
    font-weight: 600;
    font-size: 16px;
}
  
.yesterdayLeadCount span{
    background-color: #F1F5F9;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    font-size: 18px;
    color:#64748B;
}

@media (min-width: 600px) and (max-width: 1585px) {
    .lead-stats-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .lead-stats {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 700px) {
    .lead-stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, auto); 
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "item5 item6";
    }
    .lead-stats {
        width: auto; 
        height: 137px; 
    }
     .lead-stats:nth-child(1) { grid-area: item1; }
    .lead-stats:nth-child(2) { grid-area: item2; }
    .lead-stats:nth-child(3) { grid-area: item3; }
    .lead-stats:nth-child(4) { grid-area: item4; }
    .lead-stats:nth-child(5) { grid-area: item5; }
    .lead-stats:nth-child(6) { grid-area: item6; }
}

@media (max-width:400px){
    .lead-stats-container {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 20px;
    }
    .lead-stats{
        max-width: 60px !important;
        height: 137px !important;
    }
}

/* Table Filters */

.table-header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
}

.table-header button {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.leads{
  font-size: 20px;
  font-weight: 600;
}

.leads span{
  font-size: 12px;
  font-weight: 300;
}

.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.status-dropdown-container{
  position: relative;
}

.input-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d2d2;
  border-radius: 8px;
  color: #64748B;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  gap: 8px;
  text-align: center;
  padding: 0 8px;
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d2d2;
  border-radius: 8px;
  color: #64748B;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  gap: 8px;
  text-align: center;
}

.search-box:nth-child(2) {
  width: 129px;
  color: #64748B;
}

.search-box:nth-child(3) {
  width: 83px;
  color: #64748B;
}

.search-box:nth-child(4) {
  width: 120px;
  background-color:#18508C;
  color: white;
  font-size: 15px;
}


.input-box input{
  width:300px;
  padding: 3px;
  border: none;
  outline: none;
}

.search-display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d2d2;
  border-radius: 8px;
  color: #64748B;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  gap: 8px;
  text-align: center;
  padding: 0 8px;
  width: calc(100% - 40px);
  max-width: 800px;
  margin: 20px auto;
}

.search-display input{
  outline: none;
  border: none;
}


/* Leads Table  */

.leads-table {
    margin: 20px;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow-x: auto;
}

.table-container {
    width: 100%;
}

.responsive-table {
    min-width: 1100px; 
    width: 100%;
    border-collapse: collapse;
}

.no-leads-found-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leads-table th{
    background-color: #F1F5F9;
    color: #1E293B;
    font-size: 14px;
    font-weight: 600;
    height: 46px;
    text-align: left;
    padding: 10px;
}

.leads-table td {
    font-size: 16px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }

  tbody tr:nth-child(odd) {
    background-color: white;
  }

  tbody tr:nth-child(even) {
    background-color: #FEF4FF;
  }

  .status span {
    padding: 8px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .status.prospects span {
    background-color: #F1F5F9;
    color: #1E293B;
  }

  .status.qualified span,
  .status.trial-booked span {
    background-color: #F0FDF4;
    color: #15803D;
  }

  .status.not-qualified span {
    background-color: #FEF2F2;
    color: #B91C1C;
  }

    .status.disqualified span {
    background-color: #FEF2F2;
    color: #B91C1C;
  }

  .status.follow-up span,
  .status.trial-follow-up span {
    background-color: #FEF3C7;
    color: #92400E;
  }

  .status.trial-completed span {
    background-color: #DCFCE7;
    color: #166534;
  }

  .status.payment-created span {
    background-color: #E4EDFA;
    color: #184574;
  }

  .status.interested span {
    background-color:rgb(237, 237, 234);
    color: rgb(248, 120, 92);
  }

  .status.enrolled span {
    background-color: #FBE8FF;
    color: #8E198F;
  }

  .status.not-enrolled span {
    background-color: #FEE2E2;
    color: #991B1B;
  }


  .eye-button{
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer; 
  }

  @media screen and (max-width: 414px) {
    .input-box input{
      display: none;
    }
    .filters{
      gap: 2px;
    }
    .table-header{
      display: flex;
      justify-content: space-between;
      margin: 20px;
      padding: 10px 0px;
    }
    
  }
